* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colourOne: #25344f;
    --colourTwo: #617891;
    --colourThree: #d5b893;
    --colourFour: #6f4d38;
    --colourFive: #632024;
}
body {
    background-color: var(--colourThree);
    color: var(--colourOne);
}

.game {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(9, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
}


.pet {
    color: var(--colourOne);
    font-size: 3rem;
    font-weight: bold;
}

#loadGameBtn {
    display: flex;
    grid-column: 7/10;
    grid-row: 4/7;
    width: 70%;
    justify-content: center;
    align-self: center;
   height: 65%;
    align-items: center;
    justify-self: center;
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
}

#newGameBtn {
    display: flex;
    grid-column: 4/7;
    grid-row: 4/7;
    width: 70%;
    justify-content: center;
    align-self: center;
   height: 65%;
    align-items: center;
    justify-self: center;
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
}

.minigame {
    font-size: 3rem;
    color: var(--colorOne);
   
}

#gameContainer {
    grid-column: 2/ 12;
    grid-row: 5 /7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 20vw;
    
}

.guessBtnNum {
    margin: 0.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    background-color: var(--colourTwo);
    color: var(--colourOne);
    border: none;
    width: 60px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn {
    font-size: 2rem;
    font-family: 'fira sans', sans-serif;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    background-color: var(--colourTwo);
    color: var(--colourOne);
    border: none;
    width: 170px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--colourOne);
    color: var(--colourTwo);
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}
 .btn:active {
    transform: translateY(5px);
    transition: all 0.5s ease-in-out;
}

.popUp {
   
    margin: 1.4rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    background-color: var(--colourTwo);
    color: var(--colourOne);
    border: none;
    flex-wrap: wrap;
   
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    grid-column: 6 /8;
    grid-row: 5/7;
    z-index: 1;
    justify-self: center;
    align-self: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    background-color: var(--colourTwo);
    color: var(--colourOne);
    border: none;
    
    font-size: 2rem;
    font-weight: bold;
}

.gameResults {
    font-size: 2rem;
    font-weight: 900;
    z-index: 1;
}
.miniGameBtn {
    width: 360px;
}
    

#RPS {
    grid-column: 4
}

#numGuess {
    grid-column: 2;
}

#btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 8;
    grid-column: 1/13;
}

.newName {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: var(--colorOne);
    border: none;
    width: 200px;

}

#gameChoiceBtns {
    background-color: var(--colourThree);
    border: none;
}
#form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    grid-column: 6/8;
    grid-row: 5;
}

.itemBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 90px;
}


.inventoryItems,  .backBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   font-size: 1.5rem;
    height: 80px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label, .stat {
    font: 1.1rem 'Fira Sans', sans-serif;
    
    margin: 0.5rem 0.5rem 0rem 0;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    
    color: var(--colourOne);
    border: none;
    width: 50vw;
}

.stat-bar {
    width: 100%;
    height: 1.5rem;
    border-radius: 0.5rem;
    
    color: #325;
    border: none;
}

.stat-bar::-webkit-progress-bar {
    background-color: var(--colourTwo);
    border-radius: 0.5rem;
}

.stat-bar::-webkit-progress-value { /*changes bar insides*/
    background-color: var(--colourFive);
    border-radius: 0.5rem;
}

.statArea {
    grid-column: 1/13;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

#level-stat, #coin-stat, #petName  {
    grid-row: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.7rem;
    
}



#level-stat {
    grid-column: 4 /6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#petName {
    grid-column: 1 /4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2.5rem;
}
#coin-stat {
    grid-column: 10 / 12;
}

#health-stat  {
    grid-column: 5;
  
}
#health-stat, #hunger-stat, #exp-stat {
    grid-row: 2;
    grid-column: span 3;
   
}

#energy-stat, #happiness-stat  {
    grid-row: 3;
    
}

#energy-stat, #health-stat {
    grid-column: 2 / 5;
}

#happiness-stat {
    grid-column: 5/8;
}
